extends baseEmail

block content
  h1 Verify Your Account
  p Your One-Time Password (OTP) is:
  h2(style="text-align: center; color: #333;") #{otp}
  p This OTP will expire in 10 minutes.
  p If you didn't create an account, please ignore this email.